# binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# test binaries
*.test

# output of the go coverage tool
*.out

# convention for outputs of the go generate tool
gen_*

# project-local glide cache
.glide/